<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <h4>Sort Component Example</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-sort [config]="sortConfig" (onChange)="sortChange($event)"></pfng-sort>
      </div>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4 class="actions-label">Items</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12" *ngFor="let item of items">
        <div class="row">
          <div class="col-sm-3">
            <span>{{item.name}}</span>
          </div>
          <div class="col-sm-7">
            <span>{{item.address}}</span>
          </div>
          <div class="col-sm-2">
            <span>{{item.birthMonth}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4 class="actions-label">Settings</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="disabled" name="disabled" type="checkbox"
                   [(ngModel)]="sortConfig.disabled">Disabled
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr/>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/sortcomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/sort/example/sort-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/sort/example/sort-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
