<pfng-toast-notification-list [notifications]="notifications"></pfng-toast-notification-list>
<div class="padding-15">
  <div class="row">
    <div class="col-sm-6">
      <p>Copy components are accessible via the Form Controls rotor menu in VoiceOver. By default, like in the example below, they are exposed to the rotor menu as "<em>{{'{'}}copyBtnAriaLabel{{'}'}}</em> button". This isn't great from an accessibility standpoint as it doesn't inform the user that it's a <em>copy</em> action that the button performs. Let's fix that.</p>
      <pfng-inline-copy
        [buttonAriaLabel]="a11yEx01.buttonAriaLabel"
        [tooltip]="a11yEx01.tooltip"
        [value]="a11yEx01.value"
        (onCopy)="handleCopy($event, {
            name: a11yEx01.buttonAriaLabel,
            msg: a11yEx01.buttonAriaLabel + ' copied'
          })"></pfng-inline-copy>
    </div>
    <div class="col-sm-6">
      <p>In the example below you'll find the copy button is announced in the format of "Copy <em>{{'{'}}copyBtnAriaLabel{{'}'}}</em> to clipboard button". By providing custom tailored aria label inputs you can ensure the experience you provide to a visually impared user is aligned well with your standard sighted browsing experience.</p>
      <pfng-inline-copy
        [buttonAriaLabel]="'Copy ' + a11yEx02.buttonAriaLabel + ' to clipboard'"
        [tooltip]="a11yEx02.tooltip"
        [value]="a11yEx02.value"
        (onCopy)="handleCopy($event, {
            name: a11yEx02.buttonAriaLabel,
            msg: a11yEx02.buttonAriaLabel + ' copied'
          })">
        </pfng-inline-copy>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4 class="actions-label">Actions</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea rows="3" class="col-sm-12">{{actionsText}}</textarea>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/inlinecopycomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/copy/inline-copy/example/inline-copy-a11y-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/copy/inline-copy/example/inline-copy-a11y-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
