# generic (system) files/extensions we don't want
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.DS_Store

.editorconfig
.git/*
.gitignore
.idea/*
.npmignore
.travis.yml
CONTRIBUTING.md
LICENSE.txt
build/*
config/*
deploy_key.enc
dist
dist-demo/*
gulpfile.js
index.ts
karma.conf.js
node_modules/*
patternfly-ng.module.ts
resources/*
stats.json
tsconfig-prod.json
tsconfig.json
tslint.json
typedoc.json
webpack.config.js
