# generic (system) files/extensions we don't want
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea/*
*.iml
*.DS_Store

.editorconfig
.git/*
.gitignore
.npmignore
.travis.yml
config
deploy_key.enc
dist-demo
gulpfile.js
index.ts
karma.conf.js
node_modules
patternfly-ng.module.ts
src
stats.json
tsconfig-demo.json
tsconfig.json
tslint.json
typedoc.json
webpack.config.js
