<pfng-toast-notification-list [notifications]="notifications"></pfng-toast-notification-list>
<div class="padding-15">
  <div class="row">
    <div class="col-sm-8 padding-bottom-15">
      <p>This example illustrates how copiedToClipboard event can be used to notify user of successful copy action.</p>
      <pfng-block-copy
        [buttonAriaLabel]="cbExConfig.buttonAriaLabel"
        [buttonLabel]="cbExConfig.buttonLabel"
        [expandToggleAriaLabel]="cbExConfig.expandToggleAriaLabel"
        [label]="cbExConfig.label"
        [tooltip]="cbExConfig.tooltip"
        [value]="cbExConfig.value"
        (onCopy)="handleCopy($event, {
            name: cbExConfig.buttonAriaLabel,
            msg: cbExConfig.buttonAriaLabel + ' copied'
          })"></pfng-block-copy>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4 class="actions-label">Actions</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea rows="3" class="col-sm-12">{{actionsText}}</textarea>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/blockcopycomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/copy/block-copy/example/block-copy-notification-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/copy/block-copy/example/block-copy-notification-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
