<div class="padding-15">
  <div class="row">
      <div class="col-sm-6">
        <h5>Multiple same component example</h5>
        <p>You can include as many block copy components you want on a single page. The nature of this example affords an opportunity to point out a potentional pitfall - not properly constructing accessible names. With this component, you have full control over the text displayed in the UI vs what's announced by your supported screen reader.</p>
        <pfng-block-copy
          [label]="multiEx01.label"
          [copyValue]="multiEx01.copyValue"
          (copiedToClipboard)="notify($event)"></pfng-block-copy>
      </div>
      <div class="col-sm-6">
        <h5>How this component handles accessibility</h5>
        <p>This example is exposed in the VoiceOver rotor menu as a Form Control in the format of "Copy {{'{'}}accessibleName{{'}'}} button". This ensures that context for the copy button is provided across multiple navigation formats.</p>
        <pfng-block-copy
          [label]="multiEx02.label"
          [copyValue]="multiEx02.copyValue"
          (copiedToClipboard)="notify($event)"></pfng-block-copy>
      </div>
  </div>
  <pfng-toast-notification-list [notifications]="notifications"></pfng-toast-notification-list>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/blockcopycomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/copy/block-copy/example/block-copy-multiple-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/copy/block-copy/example/block-copy-multiple-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
