<div class="padding-15">
    <div class="row">
      <div class="col-sm-12">
        <h4>Block Level Copy Component Example</h4>
        <hr>
      </div>
    </div>
    <tabset>
      <tab heading="Basic" (select)="tabSelected($event)">
        <block-copy-basic-example *ngIf="activeTab === 'Basic' || activeTab === ''"></block-copy-basic-example>
      </tab>
      <tab heading="Callback" (select)="tabSelected($event)">
        <block-copy-callback-example *ngIf="activeTab === 'Callback'"></block-copy-callback-example>
      </tab>
      <tab heading="Expanded" (select)="tabSelected($event)">
        <block-copy-expanded-example *ngIf="activeTab === 'Expanded'"></block-copy-expanded-example>
      </tab>
    </tabset>
  </div>
