<div class="pfng-datatable">
  <pfng-toolbar [config]="config.toolbarConfig"
                [actionTemplate]="actionTemplate"
                (onActionSelect)="handleAction($event)"
                (onFilterChange)="handleFilterChange($event)"
                (onFilterFieldSelect)="handleFilterFieldSelect($event)"
                (onFilterTypeAhead)="handleFilterTypeAhead($event)"
                (onSortChange)="handleSortChange($event)"
                (onViewSelect)="handleViewSelect($event)"
                *ngIf="config.toolbarConfig">
  </pfng-toolbar>
  <ngx-datatable class="bootstrap"
                 [rows]="rows"
                 [columns]="columns"
                 [columnMode]="'force'"
                 [headerHeight]="50"
                 [rowHeight]="'auto'"
                 [selected]="selectedRows"
                 [reorderable]="true"
                 [dragulaName]="dragulaName"
                 [dragulaModel]="rowsModel"
                 [dragulaVScroll]="true"
                 [classSelector]="'pfng-datatable-dnd-header'"
                 (directiveDrop)="handleDrop($event)"
                 (directiveDrag)="HandleDrag($event)"
                 *ngIf="renderTable">
    <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false" [flexGrow]="0">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span >{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="pfng-datatable-dnd-header" *ngIf="config.dragEnabled === true"></span>
        <!-- checkbox -->
        <span class="pfng-datatable-select" *ngIf="config.showCheckbox === true">
          <input type="checkbox" value="row.selected"
                 [(ngModel)]="row.selected"
                 (ngModelChange)="checkboxChange(row)">
        </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span >{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{row.name}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Address">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span >{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{row.address}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Birth Month">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span >{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{row.birthMonth}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Week Day">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span >{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{row.birthMonth}}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <pfng-pagination [config]="config.paginationConfig"
                   (onPageNumberChange)="handlePageNumber($event)"
                   (onPageSizeChange)="handlePageSize($event)"
                   *ngIf="config.paginationConfig"></pfng-pagination>
</div>
