<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-list
            [actionTemplate]="actionTemplate"
            [config]="listConfig"
            [expandTemplate]="expandTemplate"
            [items]="items"
            [itemTemplate]="itemTemplate"
            (onActionSelect)="handleAction($event, null)"
            (onClick)="handleClick($event)"
            (onDblClick)="handleDblClick($event)"
            (onSelectionChange)="handleSelectionChange($event)">
          <ng-template #itemTemplate let-item="item" let-index="index">
            <div *ngIf="index === 0; then showContentHeader else showContent"></div>
            <ng-template #showContentHeader>
              <div class="list-pf-left">
                <!-- Place holder to match fa-plane icon width below -->
                <div class="icon-placeholder"></div>
              </div>
              <div class="list-pf-content-wrapper">
                <div class="list-pf-main-content">
                  <div class="list-pf-title">{{item.name}}</div>
                  <div class="list-pf-description text-overflow-pf">{{item.address}}</div>
                </div>
                <div class="list-pf-additional-content">
                  <div>
                    {{item.additionalInfo}}
                    <i class="pficon pficon-info padding-left-5" tooltip="Additional info"></i>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #showContent>
              <div class="list-pf-left">
                <span class="fa {{item.typeIcon}} list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
              </div>
              <div class="list-pf-content-wrapper">
                <div class="list-pf-main-content">
                  <div class="list-pf-title">{{item.name}}</div>
                  <div class="list-pf-description text-overflow-pf">{{item.address}}</div>
                </div>
                <div class="list-pf-additional-content">
                  <div>
                    <span class="pficon pficon-screen"></span>
                    <strong>{{item.hostCount}}</strong> Hosts
                  </div>
                  <div>
                    <span class="pficon pficon-cluster"></span>
                    <strong>{{item.clusterCount}}</strong> Clusters
                  </div>
                  <div>
                    <span class="pficon pficon-container-node"></span>
                    <strong>{{item.nodeCount}}</strong> Nodes
                  </div>
                  <div>
                    <span class="pficon pficon-image"></span>
                    <strong>{{item.imageCount}}</strong> Images
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template #actionTemplate let-item="item" let-index="index">
            <div *ngIf="index === 0; then showActionsHeader else showActions"></div>
            <ng-template #showActionsHeader>
              <span class="margin-left-40">{{item.actions}}</span>
              <!-- Place holder to match action button width below -->
              <div class="actions-placeholder"></div>
            </ng-template>
            <ng-template #showActions>
              <pfng-action class="list-pf-actions"
                  [config]="actionConfig"
                  (onActionSelect)="handleAction($event, item)">
              </pfng-action>
            </ng-template>
          </ng-template>
          <ng-template #expandTemplate let-item="item" let-index="index">
            <basic-content [item]="item"></basic-content>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </div>
  <div class="row padding-bottom-15 padding-top-15">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label>Selection</label>
          <br>
          <label class="radio-inline">
            <input id="selectType1" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="checkbox" (ngModelChange)="updateSelectionType()">Checkbox
          </label>
          <label class="radio-inline">
            <input id="selectType2" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="row" (ngModelChange)="updateSelectionType()">Row
          </label>
          <label class="radio-inline">
            <input id="selectType3" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="none" (ngModelChange)="updateSelectionType()">None
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="useExpandingRows" name="useExpandingRows" type="checkbox"
                   [(ngModel)]="listConfig.useExpandItems">Show Simple Expansion
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="events-label">Actions: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea rows="3" class="col-md-12">{{actionsText}}</textarea>
    </div>
  </div>
  <div class="row padding-bottom-15 padding-top-15">
    <div class="col-xs-12">
      <h4>Code</h4>
      <hr/>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/listcomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/list/basic-list/examples/list-heading-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/list/basic-list/examples/list-heading-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
