<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <h4>Empty State Component Example</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-empty-state [config]="emptyStateConfig" (onActionSelect)="handleAction($event)"></pfng-empty-state>
      </div>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4 class="actions-label">Actions</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea rows="3" class="col-sm-12">{{actionsText}}</textarea>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr/>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/emptystatecomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/empty-state/example/empty-state-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/empty-state/example/empty-state-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
