<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8">
          <p>
            This example shows how the inline copy component looks when it's surrounded by text content.
            Inline Copy occupies as much space as necessary to display it's content.
            <pfng-inline-copy [copyValue]="basicExConfig.copyValue" [ariaLabel]="basicExConfig.ariaLabel"></pfng-inline-copy>
            Font size for this component is always reduced slightly relative to the surrounding text.
            Inline Copy does not wrap over multiple lines, but instead handles overflow content gracefully.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/inlinecopycomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/copy/inline-copy/example/inline-copy-basic-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/copy/inline-copy/example/inline-copy-basic-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
