<div class="pfng-block-copy">
  <label
    class="pfng-block-copy-label"
    [attr.for]="'pfng-block-copy-value-button-' + hash">{{label}}</label>
  <div class="pfng-block-copy-inner-container">
    <div class="pfng-block-copy-preview" [ngClass]="{'pf-is-open': expanded}">

      <button
        [attr.aria-label]="expandBtnAriaLabel"
        [attr.aria-expanded]="expanded"
        class="pfng-block-copy-preview-btn"
        (click)="togglePanel()">
        <i
          class="fa pfng-block-copy-preview-icon"
          [ngClass]="{'fa-angle-down': expanded, 'fa-angle-right': !expanded}"></i>
      </button>

      <div class="pfng-block-copy-preview-txt-cont">
        <span
          class="pfng-block-copy-preview-txt"
          data-toggle="tooltip"
          data-placement="top"
          [attr.tooltip]="tooltip">{{copyValue}}</span>
      </div>

      <button
        [attr.id]="'pfng-block-copy-value-button-' + hash"
        class="btn btn-lg btn-default pfng-block-copy-btn"
        [attr.aria-label]="copyBtnAriaLabel"
        (click)="copyValueToClipboard()">{{buttonLabel}}</button>
    </div>
    <div class="pfng-block-copy-body" *ngIf="expanded">
      <span>{{copyValue}}</span>
    </div>
  </div>
</div>
