<div class="pfng-block-copy">
  <label
    class="pfng-block-copy-label"
    [attr.for]="'pfng-block-copy-token-button-' + hash">{{label}}</label>
  <div class="pfng-block-copy-inner-container">
    <div class="pfng-block-copy-preview" [ngClass]="{'pf-is-open': tokenPanelOpen}">

      <button
        [attr.aria-label]="expandBtnAriaLabel(label)"
        [attr.aria-expanded]="tokenPanelOpen"
        class="pfng-block-copy-preview-btn"
        (click)="toggleTokenPanel()">
        <i
          class="fa pfng-block-copy-preview-icon"
          [ngClass]="{'fa-angle-down': tokenPanelOpen, 'fa-angle-right': !tokenPanelOpen}"></i>
      </button>

      <div class="pfng-block-copy-preview-txt-cont">
        <span
          class="pfng-block-copy-preview-txt"
          data-toggle="tooltip"
          data-placement="top"
          [attr.tooltip]="label">{{token}}</span>
      </div>

      <button
        [attr.id]="'pfng-block-copy-token-button-' + hash"
        class="btn btn-lg btn-default pfng-block-copy-btn"
        [attr.aria-label]="copyBtnAriaLabel(label)"
        (click)="copyTokenToClipboard()">{{buttonLabel}}</button>
    </div>
    <div class="pfng-block-copy-body" *ngIf="tokenPanelOpen">
      <span>{{token}}</span>
    </div>
  </div>
</div>
