<ul class="nav navbar-nav">
</ul>
<ul class="nav navbar-nav navbar-right navbar-iconic">
    <li class="dropdown">
        <pfng-application-launcher
        [label] ="'Application Launcher test'"
        [isDisabled] = "false"
        [isList]="false"
        [items]="navigationItems"
        [hiddenIcons] = "false">
      </pfng-application-launcher>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span title="Help" class="fa pficon-help"></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span title="Username" class="fa pficon-user"></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="#">Preferences</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </li>
</ul>

<div class="padding-15">
    <div class="row">
      <div class="col-sm-12">
        <h4>Application Launcher</h4>
        <hr/>
      </div>
    </div>
      <div class="row padding-bottom-15 padding-top-15">
          <div class="col-sm-12">
            <h4>Code</h4>
            <hr/>
          </div>
        </div>
        <div>
            <tabset>
              <tab heading="api">
                <iframe class="demoframe" src="docs/classes/applicationlaunchercomponent.html"></iframe>
              </tab>
              <tab heading="html">
                <include-content src="src/app/navigation/examples/application-launcher-example.component.html"></include-content>
              </tab>
              <tab heading="typescript">
                <include-content src="src/app/navigation/examples/application-launcher-example.component.ts"></include-content>
              </tab>
            </tabset>
          </div>
        </div>
