<div class="filter-pf">
  <pfng-filter-fields #filterFields
                      [config]="config"
                      (onAdd)="addFilter($event)"
                      (onFieldSelect)="fieldSelected($event)"
                      (onRemove)="removeQuery($event)"
                      (onTypeAhead)="typeAhead($event)"></pfng-filter-fields>
  <pfng-filter-results [config]="config"
                       (onClear)="clearFilter($event)"
                       (onSave)="saveFilter($event)"></pfng-filter-results>
</div>
