@import "../assets/stylesheets/patternfly-ng";

// ngx-bootstrap tab style
.tab-container {
  border: 1px @color-pf-black;
}

.demoframe {
  border: 0;
  width: 100%;
  height: 800px;
}

ul ul{
  list-style-type: disc;
  padding-left: 15px;
}
