<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-list-view
            [actionTemplate]="actionTemplate"
            [config]="listViewConfig"
            [items]="items"
            [itemTemplate]="itemTemplate"
            [itemExpandedTemplate]="itemExpandedTemplate"
            (onActionSelect)="handleAction($event)"
            (onCheckBoxChange)="handleCheckBoxChange($event)"
            (onClick)="handleClick($event)"
            (onDblClick)="handleDblClick($event)"
            (onDragEnd)="handleDragEnd($event)"
            (onDragMoved)="handleDragMoved($event)"
            (onDragStart)="handleDragStart($event)"
            (onSelect)="handleSelect($event)"
            (onSelectionChange)="handleSelectionChange($event)">
          <ng-template #itemTemplate let-item="item" let-index="index">
            <div *ngIf="index === 0; then showHeader else showCol"></div>
            <ng-template #showHeader>
              <div class="list-view-pf-left">
                <!-- Place holder to match fa-plane icon width below -->
                <div class="icon-placeholder"></div>
              </div>
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{item.name}}
                  </div>
                  <div class="list-group-item-text">
                    {{item.address}}
                  </div>
                </div>
                <div class="list-view-pf-additional-info">
                  <div class="list-view-pf-additional-info-item">
                    {{item.additionalInfo}}
                    <i class="pficon pficon-info padding-left-5" tooltip="Additional info"></i>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #showCol>
              <div class="list-view-pf-left">
                <span class="fa {{item.typeIcon}} list-view-pf-icon-sm"></span>
              </div>
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{item.name}}
                  </div>
                  <div class="list-group-item-text">
                    {{item.address}}
                  </div>
                </div>
                <div class="list-view-pf-additional-info">
                  <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-screen"></span>
                    <strong>{{item.hostCount}}</strong> Hosts
                  </div>
                  <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-cluster"></span>
                    <strong>{{item.clusterCount}}</strong> Clusters
                  </div>
                  <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-container-node"></span>
                    <strong>{{item.nodeCount}}</strong> Nodes
                  </div>
                  <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-image"></span>
                    <strong>{{item.imageCount}}</strong> Images
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template #actionTemplate let-item="item" let-index="index">
            <div *ngIf="index === 0; then showHeader else showCol"></div>
            <ng-template #showHeader>
              <span class="margin-left-10">{{item.actions}}</span>
              <!-- Place holder to match action button width below -->
              <div class="actions-placeholder"></div>
            </ng-template>
            <ng-template #showCol>
              <pfng-list-view-actions
                  [config]="getActionsConfig(item, actionButtonTemplate, startButtonTemplate)"
                  (onActionSelect)="handleAction($event, item)">
                <ng-template #actionButtonTemplate let-action="action">
                  <span class="fa fa-plus">&nbsp;</span>{{action.name}}
                </ng-template>
                <ng-template #startButtonTemplate let-action="action">
                  {{item.started === true ? "Starting" : action.name}}
                </ng-template>
              </pfng-list-view-actions>
            </ng-template>
          </ng-template>
          <ng-template #itemExpandedTemplate let-item="item" let-index="index">
            <basic-content [item]="item"></basic-content>
          </ng-template>
        </pfng-list-view>
      </div>
    </div>
  </div>
  <div class="row padding-bottom-15 padding-top-15">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label>Selection</label>
          <br>
          <label class="radio-inline">
            <input id="selectType1" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="checkbox" (ngModelChange)="updateSelectionType()">Checkbox
          </label>
          <label class="radio-inline">
            <input id="selectType2" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="row" (ngModelChange)="updateSelectionType()">Row
          </label>
          <label class="radio-inline">
            <input id="selectType3" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="none" (ngModelChange)="updateSelectionType()">None
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="dblClick" name="dblClick" type="checkbox"
                   [(ngModel)]="listViewConfig.dblClick"
                   (ngModelChange)="listViewConfig.multiSelect = false">Double Click
          </label>
          <label class="checkbox-inline">
            <input id="multiSelect" name="multiSelect" type="checkbox"
                   [(ngModel)]="listViewConfig.multiSelect"
                   [disabled]="listViewConfig.dblClick">Multi Select
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="showDisabledRows" name="showDisabledRows" type="checkbox"
                   [(ngModel)]="showDisabledRows"
                   (ngModelChange)="updateDisabledRows()">Show Disabled Rows
          </label>
          <label class="checkbox-inline">
            <input id="useExpandingRows" name="useExpandingRows" type="checkbox"
                   [(ngModel)]="listViewConfig.useExpandingRows">Show Simple Expansion
          </label>
          <label class="checkbox-inline">
            <input id="itemsAvailable" name="itemsAvailable" type="checkbox"
                   [(ngModel)]="itemsAvailable"
                   (ngModelChange)="updateItemsAvailable()">Items Available
          </label>
        </div>
      </form>
    </div>
  </div>
  <!-- Not implemented -- see angular-drag-and-drop-lists
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="dragEnabled" name="dragEnabled" type="checkbox"
                   [(ngModel)]="listViewConfig.dragEnabled">Drag and Drop
          </label>
        </div>
      </form>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-md-12">
      <h4 class="events-label">Actions: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea rows="3" class="col-md-12">{{actionsText}}</textarea>
    </div>
  </div>
  <div class="row padding-bottom-15 padding-top-15">
    <div class="col-xs-12">
      <h4>Code</h4>
      <hr/>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/listviewcomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="/src/app/list-view/examples/list-view-basic-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="/src/app/list-view/examples/list-view-basic-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
