<div>
  <div class="applauncher-pf dropdown dropdown-kebab-pf" [ngClass]="{'applauncher-pf-block-list': !isList}"
       uib-dropdown
       uib-keyboard-nav="true">
    <a id="domain-switcher" class="dropdown-toggle drawer-pf-trigger-icon" uib-dropdown-toggle [ngClass]="{'disabled': isDisabled || items.length}" href>
      <i class="fa fa-th applauncher-pf-icon" aria-hidden="true"></i>
      <span class="applauncher-pf-title">
        [label]={{label || 'Application Launcher'}}
        <span class="caret" aria-hidden="true"></span>
      </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right"
        uib-dropdown-menu
        role="menu"
        aria-labelledby="domain-switcher">
      <li class="applauncher-pf-item" role="menuitem" *ngFor="let item of items">
        <a class="applauncher-pf-link" ng-href="{{item.href}}" target="{{item.target || '_blank'}}" title="{{item.tooltip}}">
          <i class="applauncher-pf-link-icon pficon" [ngClass]="item.iconClass" *ngIf="!hiddenIcons" aria-hidden="true"></i>
          <span class="applauncher-pf-link-title">{{item.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

