<div class="padding-15">
  <div class="row">
      <div class="col-sm-8 padding-bottom-15">
        <p>Here the component is rendered open by default. Expanded state is properly announced to assistive technologies.</p>
        <pfng-block-copy
          [buttonAriaLabel]="expandedEx01.buttonAriaLabel"
          [buttonLabel]="expandedEx01.buttonLabel"
          [expandToggleAriaLabel]="expandedEx01.expandToggleAriaLabel"
          [expanded]="expandedEx01.expanded"
          [label]="expandedEx01.label"
          [value]="expandedEx01.value"
          (onCopy)="handleCopy($event)"></pfng-block-copy>
      </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4 class="actions-label">Actions</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea rows="3" class="col-sm-12">{{actionsText}}</textarea>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/blockcopycomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/copy/block-copy/example/block-copy-expanded-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/copy/block-copy/example/block-copy-expanded-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
