<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <h4>Truncate Pipe Example</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <p>{{'this is a not so long string' | truncate}}</p>
        <p>{{'this is a not so long string' | truncate: 20}}</p>
        <p>{{'this is a not so long string' | truncate: 20: '.'}}</p>
      </div>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr/>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/truncatepipe.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/pipe/truncate/example/truncate-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/pipe/truncate/example/truncate-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
