<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-filter [config]="filterConfig"
                     (onChange)="filterChanged($event)"
                     (onFieldSelect)="filterFieldSelected($event)"
                     (onTypeAhead)="filterQueries($event)"></pfng-filter>
      </div>
    </div>
  </div>
  <div class="row padding-bottom-15 padding-top-15">
    <div class="col-xs-12">
      <h4>Valid Items:</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let item of items" class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <span>{{item.name}}</span>
          </div>
          <div class="col-md-5">
            <span>{{item.address}}</span>
          </div>
          <div class="col-md-2">
            <span>{{item.birthMonth}}</span>
          </div>
          <div class="col-md-2">
            <span>{{item.weekDay}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top-15">
    <div class="col-md-12">
      <label class="events-label">Current Filters: </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea rows="5" class="col-md-12">{{filtersText}}</textarea>
    </div>
  </div>
  <div class="row padding-bottom-15 padding-top-15">
    <div class="col-xs-12">
      <h4>Code</h4>
      <hr/>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/filtercomponent.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/filter/examples/filter-type-ahead-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/filter/examples/filter-type-ahead-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
