<div class="padding-15">
  <div class="row">
    <div class="col-xs-12">
      <h4>Filter Component Example</h4>
      <hr/>
    </div>
  </div>
  <tabset>
    <tab heading="Basic">
      <filter-basic-example></filter-basic-example>
    </tab>
    <tab heading="Type Ahead">
      <filter-type-ahead-example></filter-type-ahead-example>
    </tab>
    <tab heading="Lazy Loading">
      <filter-lazy-example></filter-lazy-example>
    </tab>
    <tab heading="Save">
      <filter-save-example></filter-save-example>
    </tab>
  </tabset>
</div>
