<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <p>This example sets the notification service delay to 5 seconds.</p>
        <pfng-toast-notification-list [notifications]="notifications"></pfng-toast-notification-list>
      </div>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-sm-12">
      <h4>Code</h4>
      <hr>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="api">
        <iframe class="demoframe" src="docs/classes/notificationservice.html"></iframe>
      </tab>
      <tab heading="html">
        <include-content src="src/app/notification/notification-service/example/notification-service-basic-example.component.html"></include-content>
      </tab>
      <tab heading="typescript">
        <include-content src="src/app/notification/notification-service/example/notification-service-basic-example.component.ts"></include-content>
      </tab>
    </tabset>
  </div>
</div>
